:root{
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    color: var(--text-color);
}
#main-body{
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: var(--secondary-color);
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

}
#container{
    background-color:var(--background);
    /* height: 400px; */
    width: 500px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid greenyellow; */
}
h2{
  /* color: var(--accent-color); */
 background: linear-gradient(to right, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
 color: transparent;
 -webkit-background-clip: text;
 font-size: 3rem;
 margin-top: 20px;
 margin-bottom: 20px;
 text-align: center;   
 font-weight: 800;
 text-transform: uppercase;
 text-shadow: 0 0 60px rgba(255, 102, 0, 0.432);
 animation: a 1s infinite alternate;
}
@keyframes a{
    100%{
        text-shadow: 0 0 60px 
        rgba(128, 0, 255, 0.326);
    }
    0%{
        text-shadow: 0 0 60px 
        rgba(0, 136, 255, 0.461);
    }
    
}
#todo-info{
    /* background-color: var(--primary-color); */
    width: 450px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todo-input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border-radius: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid var(--secondary-color);
    caret-color: var(--accent-color);
    background-color: none;
    background: transparent;
    color: var(--text-color);
}
#todo-input:focus{
    outline:none;
}
form{
    position: relative;
}
#add-button{
    position: absolute;
    top: 0;
    right: 0;
    /* background-color: var(--accent-color); */
    background: transparent;
    color:var(--text-color);
    height: 100%;
    padding: 0 20px;
    border:1px solid white;
    border-radius: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
#add-button:hover { 
    background: linear-gradient(to right,#4158D0 0%, #C850C0 46%, #107459 100%);
    border: none; 
}
.btn{
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    /* background: transparent; */
    border-radius: 2rem;
    /* align-items: center; */

}
.btn:hover{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.todo{
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0 10px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.todo-text{
    padding: 15px 2px;
    padding-right: 0;
    padding-left: 20px;
    flex-grow: 1;
    transition: 500ms ease-in;
}
.delete-button{
    padding: 2px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete-button svg{
    transition: 200ms ease;
}
.delete-button:hover svg{
    fill: #ff0033;
}
.custom-checkbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: 300ms ease ;

}
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked~.custom-checkbox{
    fill: var(--primary-color);
}
input[type="checkbox"]:checked~ .todo-text{
    text-decoration: line-through;
    color: red;
}
input[type="checkbox"]{
    display: none;
}
